<!DOCTYPE html>
<html>
<head>
	<title>Usuario</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link rel="stylesheet" href="../public/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="./userStyle.css">
</head>
<body>
	<header>
		<nav>
		</nav>
	</header>
	<div id="app">
		<div class="container" >
			<div class="row" id="cont">
				<div class="input-field col s3 offset-s1">
			    <select v-model="facultad" id="categoria">
						<option value="" selected>Escoge...</option>
						<option value="EDCOM">EDCOM</option>
						<option value="FCSH">FCSH</option>
						<option value="FIEC">FIEC</option>
						<option value="Admisiones">Admisiones</option>
						<option value="Celex">CELEX</option>
						<option value="FCV">FCV</option>
						<option value="FIMCBOR">FIMCBOR</option>
				</select>
				    <label>Categorías</label>
		  		</div>
		  		<div class="input-field col s6">
					<input placeholder="Buscar plato" id="plato" type="text" class="validate">
					<label for="first_name">Buscar</label>
	        	</div>
	        	<div class="col s2" id="logOut">
	        		<button class="btn btn-default logout">Log-out</button>
	        	</div>

	        	<div class="informacion">
	        		<table class="centered striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha</th>
								<th>Plato de entrada</th>
								<th>Plato fuerte</th>
								<th>Postre</th>
								<th>Lugar</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="info in filteredMenu">
								<td>{{info.nombre}}</td>
								<td>{{info.Fecha}}</td>
								<td>{{info.entrada.nombre}}</td>
								<td>{{info.Fuerte.nombre}}</td>
								<td>{{info.Postre.nombre}}</td>
								<td>{{info.Lugar}}</td>
							</tr>
						</tbody>
			      </table>
	        	</div>
			</div>
		</div>
	</div>
	<footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
		<script type="text/javascript" src="/script/info.json"></script>
		<script type="text/javascript" src="./userScript.js"></script>
	</footer>
</body>
</html>